/*Resets*/
html{
    scroll-behavior: smooth;
    scrollbar-color: #1d76f5;
    font-family: "Montserrat", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    /* outline: 2px solid rgba(255, 0, 251, 0.233); */
}
*::before,
*::after{
    box-sizing: border-box;
}

.headers-container{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.header{
    display: flex;
    flex: 1;
    background-color: #8F87F1;
    color: aliceblue;
    font-size: xx-large;
    font-weight: bold;
    padding: 40px 40px;
    justify-content: center;
}
.sub-header{
    display: flex;
    flex: 1;
    background-color: #C68EFD;
    padding: 0.5em;
    font-weight: light;
    font-size: large ;
    font-style: italic;
    justify-content: center;
}
#header-highlighting{
    background-color: #9c42f5;
    border-radius: 3px;
    margin-left: 10px;
    color: aliceblue;
}


.hero-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 8em;
    margin-bottom: 2em;
}

.quote{
    display: flex;
    flex: 1;
    padding: 3em 2em;
    background-color: #FED2E2;
    justify-content: center;
    font-style: italic;
    font-weight: 400;
    font-size: xx-large;
    max-height: 5em;  
}
.athr{
    display: flex;
    padding: 1em;
    background-color: #FED2E2;
    justify-content: center;
    font-style: italic;
    font-weight: 400;
    font-size: x-large; 
    
}


.footer-container{
    display: flex;
    flex: 1;
    justify-content: center;
    background-color: #8F87F1;
    color: #fff;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: auto;

}
.name{
    font-family: monospace;
    font-style: italic;
    font-size: 1.3em;
    padding: 0px 10px;
    color: #FED2E2;
}
.footer-container a{
    text-decoration: none; 
}

.button-div{
    margin-bottom: 4em;
    display: flex;
    flex: 1;
    font-size: xx-large;
    font-weight: bold;
    justify-content: center;
}
.button{
    background: #8F87F1;
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}
.front{
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: #6c60f3;
    color: white;
    transform: translateY(-6px);
}
.button:active .front{
    transform: translateY(-2px);
}

